# Dependencies and Builds
node_modules/
jspm_packages/
build/Release
dist/
coverage/

# Logs and Runtime
*.log
npm-debug.log*
pids
*.pid

# Environment and Cache
.env*
.cache
.eslintcache
.npm

# Yarn/Tools
.yarn/cache
.grunt
.gulp
